<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Ingredients</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!--Displaying the Ingredients-->
  <ion-card *ngFor="let ing of recipeIng?.extendedIngredients">
    <img src="{{ 'https://spoonacular.com/cdn/ingredients_500x500/' + ing.image }}" />
    <ion-card-header>
      <ion-card-title>{{ing.original}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
    <!-- METRIC -->
    <ng-container *ngIf="isMetric(); else usBlock">
      {{ ing.measures.metric.amount }} {{ ing.measures.metric.unitLong }}
    </ng-container>

    <!-- US -->
    <ng-template #usBlock>
      {{ ing.measures.us.amount }} {{ ing.measures.us.unitLong }}
    </ng-template>
    </ion-card-content>
  </ion-card>

  <!-- INSTRUCTIONS -->
  <h2>Instructions</h2>
  <ol>
    <li *ngFor="let step of recipeIng?.analyzedInstructions[0]?.steps">
      {{ step.step }}
    </li>
  </ol>
</ion-content>
