<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>favourite</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <p *ngIf="favourites.length === 0">No favourites yet.</p>

  <!-- List of favourites -->
  <ion-card *ngFor="let fav of favourites">
    <img [src]="fav.image" />

    <ion-card-header>
      <ion-card-title>{{ fav.title }}</ion-card-title>
    </ion-card-header>

    <ion-button (click)="openDetails(fav.id)">
      DETAILS
    </ion-button>
  </ion-card>

</ion-content>
